<div class="card bg-blue-50 h-30rem flex flex-column">
  <h3 class="mb-3 text-center">Despesas</h3>

  <p-tabs value="0">
    <p-tablist>
      <p-tab value="0">Casal</p-tab>
      <p-tab value="1">Individual</p-tab>
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel value="0">
        <p-table
          #dt
          [value]="listaDespesasConjuntas"
          [paginator]="true"
          [rows]="5"
          [rowsPerPageOptions]="[5, 10, 15]"
          [scrollable]="true"
          scrollHeight="400px"
          class="h-full"
          [globalFilterFields]="['despesa.descricao', 'despesa.valor']"
        >
          <ng-template pTemplate="caption">
            <div class="card flex flex-wrap justify-content-end gap-4">
              <p-iconfield>
                <p-inputicon class="pi pi-search" />
                <input
                  type="text"
                  pInputText
                  placeholder="Pesquisar"
                  (input)="dt.filterGlobal($event.target.value, 'contains')"
                />
              </p-iconfield>
            </div>
          </ng-template>
          <ng-template #header>
            <tr>
              <th>--</th>
              <th>Descrição</th>
              <th>Data</th>
              <th>Categoria</th>
              <th>Valor</th>
            </tr>
          </ng-template>
          <ng-template #body let-retorno>
            <tr>
              @if (retorno.despesa.categoria.tipo == tipoCategoriaEnum.Essencial) {
                <td><i class="pi pi-bookmark-fill text-primary text-md"></i></td>
              } @else if (retorno.despesa.categoria.tipo == tipoCategoriaEnum.NaoEssencial) {
                <td><i class="pi pi-gift text-primary text-md"></i></td>
              } @else if (retorno.despesa.categoria.tipo == tipoCategoriaEnum.Investimento) {
                <td><i class="pi pi-money-bill text-primary text-md"></i></td>
              } @else if (retorno.despesa.categoria.tipo == tipoCategoriaEnum.Emergencial) {
                <td><i class="pi pi-plus text-red-100 text-md"></i></td>
              }
              <td>{{ retorno.despesa.descricao }}</td>
              <td>{{ retorno.despesa.data | date: 'dd/MM' }}</td>
              <td>{{ retorno.despesa.categoria.nome }}</td>
              <td>
                <div>
                  {{
                    (retorno.totalParcela > 0 ? retorno.valor : retorno.despesa.valor)
                      | currency: 'BRL' : 'symbol' : '1.2-2' : 'pt-BR'
                  }}
                </div>

                @if (retorno.totalParcela > 0) {
                  <div>{{ retorno.numeroParcela }} de {{ retorno.totalParcela }}</div>
                }
              </td>
            </tr>
          </ng-template>
          <ng-template #footer>
            <tr>
              <td class="text-red-500" colspan="6">
                Valor Total: {{ valorTotalCasal | currency: 'BRL' : 'symbol' : '1.2-2' : 'pt-BR' }}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-tabpanel>

      <p-tabpanel value="1">
        <p-table
          [value]="listaDespesasIndividuais"
          [paginator]="true"
          [rows]="5"
          [rowsPerPageOptions]="[5, 10, 15]"
          [scrollable]="true"
          scrollHeight="400px"
          class="h-full"
        >
          <ng-template #header>
            <tr>
              <th>--</th>
              <th>Descrição</th>
              <th>Categoria</th>
              <th>Valor</th>
            </tr>
          </ng-template>
          <ng-template #body let-retorno>
            <tr>
              @if (retorno.despesa.categoria.tipo == tipoCategoriaEnum.Essencial) {
                <td><i class="pi pi-bookmark-fill text-primary text-md"></i></td>
              } @else if (retorno.despesa.categoria.tipo == tipoCategoriaEnum.NaoEssencial) {
                <td><i class="pi pi-gift text-primary text-md"></i></td>
              } @else if (retorno.despesa.categoria.tipo == tipoCategoriaEnum.Investimento) {
                <td><i class="pi pi-money-bill text-primary text-md"></i></td>
              } @else if (retorno.despesa.categoria.tipo == tipoCategoriaEnum.Emergencial) {
                <td><i class="pi pi-plus text-red-100 text-md"></i></td>
              }
              <td>
                {{ retorno.despesa.descricao }}
              </td>
              <td>
                {{ retorno.despesa.categoria.nome }}
              </td>
              <td>
                {{
                  (retorno.totalParcela > 0 ? retorno.valor : retorno.despesa.valor)
                    | currency: 'BRL' : 'symbol' : '1.2-2' : 'pt-BR'
                }}
              </td>
            </tr>
          </ng-template>

          <ng-template #footer>
            <tr>
              <td class="text-red-500" colspan="6">
                Valor Total:
                {{ valorTotalIndividual | currency: 'BRL' : 'symbol' : '1.2-2' : 'pt-BR' }}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</div>
