<div class="card bg-blue-50 h-30rem flex flex-column ">
  <h3 class="mb-3 text-center">Despesas</h3>

  <p-tabs value="0">
    <p-tablist>
      <p-tab value="0">Individual</p-tab>
      <p-tab value="1">Casal</p-tab>
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel value="0">
        <p-table [value]="listaDespesaIndividual" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 15]"
          [scrollable]="true" scrollHeight="400px" class="h-full">
          <ng-template #header>
            <tr>
              <th>Descrição</th>
              <th>Categoria</th>
              <th>Valor</th>
              <th>Pagamento</th>
            </tr>
          </ng-template>
          <ng-template #body let-despesa>
            <tr>
              <td>{{ despesa.nome }}</td>
              <td>{{ despesa.categoria }}</td>
              <td>{{ despesa.valor }}</td>
              <td>{{ despesa.pagamento }}</td>
            </tr>
          </ng-template>
        </p-table>
      </p-tabpanel>

      <p-tabpanel value="1">
        <p-table [value]="listaDespesaCasa" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 15]"
          [scrollable]="true" scrollHeight="400px" class="h-full">
          <ng-template #header>
            <tr>
              <th>Descrição</th>
              <th>Categoria</th>
              <th>Valor</th>
              <th>Pagamento</th>
            </tr>
          </ng-template>
          <ng-template #body let-despesa>
            <tr>
              <td>{{ despesa.nome }}</td>
              <td>{{ despesa.categoria }}</td>
              <td>{{ despesa.valor }}</td>
              <td>{{ despesa.pagamento }}</td>
            </tr>
          </ng-template>
        </p-table>
      </p-tabpanel>

    </p-tabpanels>
  </p-tabs>
</div>
