<article class="flex flex-column align-items-center gap-3 mt-5">
  <div class="w-full md:w-10">
    <app-principal [valorDespesasConjuntasMesAtual]="valorTotalDespesasMes"
      [valorDespesasIndividuaisMesAtual]="valorTotalDespesasIndividuais" [saldoIndividual]="saldoIndividual"
      [saldoPrevisto]="saldoPrevisto" [receitasMesAtual]="receitasMesAtual"
      (despesaCadastradaEmit)="receberDespesaCadastrada($event)"
      (cadastrarDespesaEmit)="cadastrarDespesa()"></app-principal>
  </div>

  <div class="w-full md:w-10">
    <div class="grid">
      <div class="col-12 md:col-6 p-1">
        <app-exibir-despesas [listaDespesasRecebida]="listaDespesaMesAtual"></app-exibir-despesas>
      </div>

      <div class="col-12 md:col-6 p-1">
        <app-exibir-cartoes [listaAgrupadas]="listaAgrupada"
          (detalharFaturasEmittir)="detalharFatura($event)"></app-exibir-cartoes>
      </div>
    </div>
  </div>
</article>

@if(exibirDetalheFatura){
<app-detalhar-faturas [detalheFaturaAtual]="faturaRecebida"
  (fecharTelaEmitir)="exibirDetalheFatura = !exibirDetalheFatura"></app-detalhar-faturas>
}

@if (mostrarCadastro) {
<app-cadastro-despesa (fecharTelaEmitter)="fecharCadastro()"
  (retornarDespesaCadastradaEmitter)=receberDespesaCadastrada($event)></app-cadastro-despesa>
}
