<p-toolbar class="bg-primary">
  <ng-template pTemplate="start">
    <div class="flex align-itens-center gap-3">
      <span
        class="text-xl font-bold text-white cursor-pointer flex align-itens-center no-underline"
      >
        Financeiro
      </span>

      <div class="flex align-itens-center gap-3 ml-3">
        <a
          routerLink="/"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          class="mt-1 text-white font-medium hover:text-color transition-colors no-underline"
        >
          Visão geral
        </a>
        <a
          [routerLink]="['/relatorios']"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          class="mt-1 text-white font-medium hover:text-color transition-colors no-underline"
        >
          Relatórios
        </a>
        <a
          [routerLink]="['/pagamentos']"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          class="mt-1 text-white font-medium hover:text-color transition-colors no-underline"
        >
          Gerenciar Pagamentos
        </a>
        <a
          [routerLink]="['/desejos']"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          class="mt-1 text-white font-medium hover:text-color transition-colors no-underline"
        >
          Lista de Desejos
        </a>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="end">
    <div class="flex align-itens-center gap-3">
      <p-button icon="pi pi-bell" rounded="true" styleClass="bg-white" [text]="true"></p-button>
      <p-speeddial [model]="items" direction="down" [transitionDelay]="80">
        <ng-template #button let-toggleCallback="toggleCallback">
          <p-button
            icon="pi pi-user"
            outlined
            rounded="true"
            styleClass="bg-white"
            (click)="toggleCallback($event)"
          >
          </p-button>
        </ng-template>
        <ng-template #item let-item let-toggleCallback="toggleCallback">
          <div
            class="flex flex-col items-center justify-between gap-2 p-2 cursor-pointer"
            (click)="toggleCallback($event, item)"
          >
            <span [class]="item.icon"></span>
            <span>
              {{ item.label }}
            </span>
          </div>
        </ng-template>
      </p-speeddial>
    </div>
  </ng-template>
</p-toolbar>
