@if(mostrarCategorias){
<app-gerenciar-categorias (fecharTelaEmitter)="fecharCategorias()"></app-gerenciar-categorias>
}

<div class="card w-full  p-4 bg-blue-50">
  <div class="grid align-items-center ">
    <div class="col-12 md:col-6">

      <div class="mb-3">
        <span class="text-color-secondary">Boa tarde</span>
        <h2 class="m-0 font-semibold">Olá, {{usuario.nome}}</h2>
      </div>

      <div class="flex align-items-center gap-4 ">
        <div class="grid w-full">
          <div class="col-6">
            <div>
              <span class="text-color-secondary text-sm">
                Receitas
              </span>
              <div class="text-green-500 text-xl font-bold">
                {{receitasMesAtual | currency:'BRL':'symbol':'1.2-2':'pt-BR'}}
              </div>
            </div>
          </div>
          <div class="col-6">
            <div>
              <span class=" text-color-secondary text-sm">
                Despesas Conjuntas
              </span>
              <div class="text-red-500 text-xl font-bold">
                {{valorDespesasConjuntasMesAtual | currency:'BRL':'symbol':'1.2-2':'pt-BR'}}
              </div>
            </div>
          </div>

          <div class="col-6 ">
            <div>
              <span class="text-color-secondary text-sm">
                Saldo Individual
              </span>
              <div class="text-green-500 text-xl font-bold">
                {{saldoIndividual| currency:'BRL':'symbol':'1.2-2':'pt-BR'}}
              </div>
            </div>
          </div>
          <div class="col-6">
            <div>
              <span class="text-color-secondary text-sm">
                Despesas Individuais
              </span>
              <div class="text-red-500 text-xl font-bold">
                {{valorDespesasIndividuaisMesAtual | currency:'BRL':'symbol':'1.2-2':'pt-BR'}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 md:col-6 border-left-2">
      <h3 class="mb-3 text-center">Acesso rápido</h3>
      <div class="flex gap-3 justify-content-center">
        <div class="card flex flex-column align-items-center justify-content-center p-3 cursor-pointer">
          <p-button icon="pi pi-plus" [text]="true" class="text-red-500 text-xl mb-2" (onClick)="cadastrarDespesa()">
          </p-button>
          <span class="text-sm">Despesa</span>
        </div>

        <div class="card flex flex-column align-items-center justify-content-center p-3 cursor-pointer">
          <p-button icon="pi pi-plus" [text]="true" class="text-red-500 text-xl mb-2" (onClick)="gerenciarCategorias()">
          </p-button>
          <span class="text-sm">Categoria</span>
        </div>

        <div class="card flex flex-column align-items-center justify-content-center p-3 cursor-pointer">
          <p-button icon="pi pi-plus" [text]="true" class="text-red-500 text-xl mb-2"> </p-button>
          <span class="text-sm">Receita</span>
        </div>

        <div class="card flex flex-column align-items-center justify-content-center p-3 cursor-pointer">
          <p-button icon="pi pi-plus" [text]="true" class="text-red-500 text-xl mb-2"> </p-button>
          <span class="text-sm">Cartão</span>
        </div>
      </div>
    </div>
  </div>
</div>
